@font-face {
  font-display: swap;
  font-family: 'HarmonyOS';
  src: url('../assets/font/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
}

html,
body,
.el-input__inner {
  font-family: 'HarmonyOS Sans SC', 'HarmonyOS', 'NanumGothic', system-ui,
    —apple-system, Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
  background-color: #fff;
}
html {
  font-size: 22.2222vw;
}

.el-message {
  min-width: inherit;
  padding: 12px 16px;
  z-index: 6000;
  background-color: #fff;

  .el-message__icon {
    font-size: 18px;
  }

  .el-message__content {
    line-height: 18px;
  }

  &.el-message--info {
    border-color: rgba(#fff, 0.15);
  }

  &:not(.ele-message-border) {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border: none;

    .el-message__content {
      color: inherit;
    }

    .el-icon-info {
      color: #409eff;
    }
  }

  &.ele-message-loading .el-message__icon {
    animation: rotating 1s linear infinite;

    &:before {
      content: '\e73d';
      font-family: 'ele-icon';
    }
  }
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

// 全局滚动条
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b7b9;
}

::selection {
  background-color: #5b61ff;
  color: #fff;
}

.plus,
.minus {
  transition: transform 0.15s ease;
  transform-origin: 50% 50%;

  &:active {
    transform: scale(1.2);
    filter: brightness(0.9);
  }
}

::-webkit-scrollbar {
  display: none !important;
}

.text_16r {
  font-size: 0.16rem;
}
.text_22r {
  font-size: 0.22rem;
}
.text_24r {
  font-size: 0.24rem;
}
.text_26r {
  font-size: 0.26rem;
}


@media screen and (min-width: 450px) {
  .text_16r {
    font-size: 16px !important;
  }
  .text_22r {
    font-size: 22px !important;
  }
  .text_24r {
    font-size: 24px !important;
  }
  .text_26r {
    font-size: 26px !important;
  }
}
